page-fav-sub {
    .favourites{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .hmait {
        background-color: #1E8449;
    }
}
